.home-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

//project 1
.project-link1 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 7rem;
  height: 7rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #050505;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-image: url("./assets/magic-eightball/magic-eightball.png");
    background-size: cover;

    color: transparent;
  }
}

//project 2
.project-link2 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 7rem;
  height: 7rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #050505;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-image: url("./assets/todolist/todolist.png");
    background-size: cover;

    color: transparent;
  }
}

//project 3
.project-link3 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 7rem;
  height: 7rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #050505;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-image: url("./assets/counter/counter.png");
    background-size: cover;

    color: transparent;
  }
}
